*{
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  padding: 2% 0 2% 0;
  background-color: #00aced;
  color: white;
  width:100%;
  height: 20%;
}

.modal-open{
  padding: 0 !important;
}

.container{
  margin: auto;
}

.nav-item{
  display: block;
  width:25%;
  float:left;
  text-align: center;
}

.navBar{
  margin: 10px 0 15px 0;
  height: 30px;
  padding:0;
  text-decoration:none;
}

.userName{
  margin-top: 20px;
  font-size: 1.5em;
  margin-left: 19%;
}

li{
  padding:0;
  text-align:center;
}

a{
  color: #0084b4;
  display: block;
  text-decoration: none;
  width:100%;
  padding: 10px;
}

.userImage{
  height: 8vh;
  border-radius: 50%;
  border: solid 4px #c0deed;
  display:block;
  float: left;
  margin-left: 2%;
  margin-bottom: -2.5vh;
}

.tweetImage{
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  margin-top: 10px;
}

.tweetComponent{
  border-bottom: solid 1px lightblue;
}

.tweetComponent:first-of-type{
  border-top: solid 1px lightblue;
}

.tweetBody{
  padding-top: 20px;
  padding-bottom: 10px;
}

.tweetFooter{
  margin-bottom: 10px;
}

.active{
  border-bottom: solid 5px#1dcaff
}

.tweetButton{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color:#1dcaff;
  width: 80px;
  height: 80px;
  border-radius:50%;
  color: white;
  font-size:1.5em;
}